- 문제1

In [29]:
import pandas as pd

df=pd.read_csv("/workspaces/codespaces-jupyter/data/weather.csv")
print(df)
df.head()
df.info()

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0     2010-08-01      28.7         8.3         3.4
1     2010-08-02      25.2         8.7         3.8
2     2010-08-03      22.1         6.3         2.9
3     2010-08-04      25.3         6.6         4.2
4     2010-08-05      27.2         9.1         5.6
...          ...       ...         ...         ...
3648  2020-07-27      22.1         4.2         1.7
3649  2020-07-28      21.9         4.5         1.6
3650  2020-07-29      21.6         3.2         1.0
3651  2020-07-30      22.9         9.7         2.4
3652  2020-07-31      25.7         4.8         2.5

[3653 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          3653 non-null   object
 1   평균기온(°C)    3653 non-null   float64
 2   최대 풍속(m/s)  3649 non-null   float64
 3   평균 풍속(m/s)  3647 non-null   float64
dtypes: float64(3), object(1)
memory usage: 114.3+ KB

- 문제2

In [30]:
df

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0     2010-08-01      28.7         8.3         3.4
1     2010-08-02      25.2         8.7         3.8
2     2010-08-03      22.1         6.3         2.9
3     2010-08-04      25.3         6.6         4.2
4     2010-08-05      27.2         9.1         5.6
...          ...       ...         ...         ...
3648  2020-07-27      22.1         4.2         1.7
3649  2020-07-28      21.9         4.5         1.6
3650  2020-07-29      21.6         3.2         1.0
3651  2020-07-30      22.9         9.7         2.4
3652  2020-07-31      25.7         4.8         2.5

[3653 rows x 4 columns]

In [31]:
tem=df['평균기온(°C)']
tem.mean()

12.942102381604162

In [32]:
tem.max()

31.3

In [33]:
tem.min()

-9.0

- 문제3

In [34]:
df["섭씨온도(°C)"]=df['평균기온(°C)'].apply(lambda x:(x-32)*5/9)
df.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도(°C)
0  2010-08-01      28.7         8.3         3.4 -1.833333
1  2010-08-02      25.2         8.7         3.8 -3.777778
2  2010-08-03      22.1         6.3         2.9 -5.500000
3  2010-08-04      25.3         6.6         4.2 -3.722222
4  2010-08-05      27.2         9.1         5.6 -2.666667

- 문제4

In [35]:
df[df['평균기온(°C)']>=20].head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도(°C)
0  2010-08-01      28.7         8.3         3.4 -1.833333
1  2010-08-02      25.2         8.7         3.8 -3.777778
2  2010-08-03      22.1         6.3         2.9 -5.500000
3  2010-08-04      25.3         6.6         4.2 -3.722222
4  2010-08-05      27.2         9.1         5.6 -2.666667

In [36]:
filter1=df[df['평균기온(°C)']>=20]
filter1.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도(°C)
0  2010-08-01      28.7         8.3         3.4 -1.833333
1  2010-08-02      25.2         8.7         3.8 -3.777778
2  2010-08-03      22.1         6.3         2.9 -5.500000
3  2010-08-04      25.3         6.6         4.2 -3.722222
4  2010-08-05      27.2         9.1         5.6 -2.666667

- 문제5 / Tem -> 변수처리

In [37]:
Tem=df.sort_values(by='평균기온(°C)', ascending=False)
Tem.head()

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도(°C)
1103  2013-08-08      31.3         7.8         4.6 -0.388889
1104  2013-08-09      30.6         9.9         6.4 -0.777778
1105  2013-08-10      30.6         7.4         3.8 -0.777778
2913  2018-07-23      30.5         6.5         1.6 -0.833333
2925  2018-08-04      30.3         5.8         3.0 -0.944444

- 문제6

In [39]:
df['연도']=pd.to_datetime(df['일시']).df.year
group=df.groupby('연도')
group2=group['평균기온(°C)'].mean()
group2.head(10)

AttributeError: 'Series' object has no attribute 'df'