In [2]:
import pandas as pd

data = {
'Name': ['Alice','Bob','Charlie','David','Eve'],
'Age':[24, 27, 22, 32, 29],
'City':['New York', 'Los Angeles','Chicago','Houston','Phoenix']
}
dfData = pd.DataFrame(data)

print("행과열의 갯수:",dfData.shape)
print("요약정보:")
print(dfData.info())

행과열의 갯수: (5, 3)
요약정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

In [4]:
age_mean = dfData['Age'].mean()
age_max = dfData['Age'].max()
age_min = dfData['Age'].min()
print("나이의 평균:", age_mean)
print("나이의 최댓값:", age_max)
print("나이의 최소값:", age_min)

나이의 평균: 26.8
나이의 최댓값: 32
나이의 최소값: 22

In [6]:
scores = [85, 90, 78, 92, 88]
dfData['Score'] = scores
print("업데이트된 DataFrame:\n", dfData)

업데이트된 DataFrame:
       Name  Age         City  Score
0    Alice   24     New York     85
1      Bob   27  Los Angeles     90
2  Charlie   22      Chicago     78
3    David   32      Houston     92
4      Eve   29      Phoenix     88

In [7]:
sorted_df = dfData.sort_values(by='Age')
print("나이 기준 오른차순 정렬된 DataFrame:")
print(sorted_df)

나이 기준 오른차순 정렬된 DataFrame:
      Name  Age         City  Score
2  Charlie   22      Chicago     78
0    Alice   24     New York     85
1      Bob   27  Los Angeles     90
4      Eve   29      Phoenix     88
3    David   32      Houston     92