In [26]:
import pandas as pd

In [27]:
weather_samples=pd.read_csv("/workspaces/codespaces-jupyter/data/weather.csv")
weather_samples

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0     2010-08-01      28.7         8.3         3.4
1     2010-08-02      25.2         8.7         3.8
2     2010-08-03      22.1         6.3         2.9
3     2010-08-04      25.3         6.6         4.2
4     2010-08-05      27.2         9.1         5.6
...          ...       ...         ...         ...
3648  2020-07-27      22.1         4.2         1.7
3649  2020-07-28      21.9         4.5         1.6
3650  2020-07-29      21.6         3.2         1.0
3651  2020-07-30      22.9         9.7         2.4
3652  2020-07-31      25.7         4.8         2.5

[3653 rows x 4 columns]

In [28]:
weather_samples.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0  2010-08-01      28.7         8.3         3.4
1  2010-08-02      25.2         8.7         3.8
2  2010-08-03      22.1         6.3         2.9
3  2010-08-04      25.3         6.6         4.2
4  2010-08-05      27.2         9.1         5.6

In [29]:
weather_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          3653 non-null   object
 1   평균기온(°C)    3653 non-null   float64
 2   최대 풍속(m/s)  3649 non-null   float64
 3   평균 풍속(m/s)  3647 non-null   float64
dtypes: float64(3), object(1)
memory usage: 114.3+ KB

In [30]:
weather_samples[['평균기온(°C)']]

      평균기온(°C)
0         28.7
1         25.2
2         22.1
3         25.3
4         27.2
...        ...
3648      22.1
3649      21.9
3650      21.6
3651      22.9
3652      25.7

[3653 rows x 1 columns]

In [31]:
weathers=pd.DataFrame()
weathers

Empty DataFrame
Columns: []
Index: []

In [32]:
dfweathers=pd.DataFrame(weathers)
dfweathers

Empty DataFrame
Columns: []
Index: []

In [33]:
weather_mean=weather_samples['평균기온(°C)'].mean()
weather_max=weather_samples['평균기온(°C)'].max()
weather_min=weather_samples['평균기온(°C)'].min()
print("평균기온(°C)의 평균:", weather_mean)
print("평균기온(°C)의 최대값:", weather_max)
print("평균기온(°C)의 최소값:", weather_min)

평균기온(°C)의 평균: 12.942102381604162
평균기온(°C)의 최대값: 31.3
평균기온(°C)의 최소값: -9.0

In [34]:
lambda x: (x(5) - 32)*5/9

In [35]:
dfweathers['평균기온(°C)']>=20
dfweathers

KeyError: '평균기온(°C)'

In [ ]:
dfweathers.sort_values(by='평균기온(°C)', ascending=False)

NameError: name 'dfweathers' is not defined